*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    border: 2px solid black;
    height: 70vh;
    width: 67vw;
    margin: auto;
    display: flex;

}

.box{
    height: 80%;
    width: 50%;
    background-color: red;
    margin: 2px;
}
.box img{
    height:100% ;
    width: 100%;
}
.content{
    height: 20%;
    width: 100%;
}
.content h1{
    font-size: 20px;
}

